<%#
    locals: {
        <Lifepath::Homeland> @pre_homeland
    }
%>

<button id="ChargenAccordionHomelandTitle" class="ui basic fluid labeled icon lifepath_accordion title button">
    <!-- <i class="ui fitted world icon"></i> -->
    <span class="ui header">Homeland</span>

    <!-- TODO -->

    <!-- <div class="ui basic icon right floated buttons">
        <div class="ui compact button">
            <i class="cube icon"></i>
        </div>
        <div class="ui compact button">
            <i class="lock icon"></i>
        </div>
    </div> -->
</button>

<div id="ChargenAccordionHomelandContent" class="ui lifepath_accordion content">

    <%# form_for ... %>

    <div id="ChargenHomelandForm" class="ui form">
        <div class="ui celled stackable relaxed grid">

            <div id="ChargenHomelandRowOne" class="one column row">

                <div class="ui center aligned column">
                    <span class="ui header">From whither do you come? </span>
                    <div id="ChargenHomelandDropdown" class="ui scrolling inline dropdown button">
                        <input id="ChargenHomelandInput" name="selected_homeland" type="hidden">

                        <div class="ui default text">...</div>
                        <div class="ui menu">
                            <% @homelands.each do |home| %>
                            <div class="ui item" data-value="<%= home.id %>" data-text="<%= home.name %>">
                                <span class="ui description"><%= home.talent.name %></span>
                                <span class="ui text"><%= home.name %></span>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>

            </div>

            <div id="ChargenHomelandRowTwo" class="two column row">

                <% if !@pre_homeland.nil? %>
                <%= render partial: "layouts/characters/lifepath/homeland/row_two", locals: { homeland: @pre_homeland } %>
                <% end %>

            </div>

        </div>
    </div>
</div>
