<h1 class="ui centered header">ASPECTS</h1>

<div class="ui divider"></div>

<% aspects = Lifepath::Aspect.find_each %>

<div class="ui grid" id="aspect_grid">
  <div class="ui stretched row">

    <!-- =================================================================== -->

    <div class="ui three wide column">
      <div class="ui vertical tabular pointing menu" id="aspect_menu_first">
        <% aspects.each do |aspect| %>
          <a  id="aspect1::<%= aspect.id %>" onclick="select_aspect( this )"
              class="ui item <%= if aspect.id == 1 then "active " end %>tab aspect_tab"
              data-tab="aspect1::<%= aspect.id %>" data-aspect-name="<%= aspect.name %>"
              data-mand1="<%= aspect.mandatory_attribute1 %>" data-mand2="<%= aspect.mandatory_attribute2 %>"
              data-opt1="<%= aspect.optional_attribute1 %>" data-opt2="<%= aspect.optional_attribute2 %>">
            <%= aspect.name %>
          </a>
        <% end %>
      </div>
    </div>

    <!-- =================================================================== -->

    <div class="ui three wide column">
      <div class="ui vertical tabular pointing menu" id="aspect_menu_second">
        <% aspects.each do |aspect| %>
          <a  id="aspect2::<%= aspect.id %>" onclick="select_aspect( this )"
              class="ui item <%= if aspect.id == 1 then "active " end %>tab aspect_tab"
              data-tab="aspect2::<%= aspect.id %>"  data-aspect-name="<%= aspect.name %>"
              data-mand1="<%= aspect.mandatory_attribute1 %>" data-mand2="<%= aspect.mandatory_attribute2 %>"
              data-opt1="<%= aspect.optional_attribute1 %>" data-opt2="<%= aspect.optional_attribute2 %>"
              style="border-left: 0; border-radius: 0">
            <%= aspect.name %>
          </a>
        <% end %>
      </div>
    </div>

    <!-- =================================================================== -->

    <div class="ui ten wide column" id="aspect_attr_col">

      <div class="ui basic segment" style="max-height:600px;overflow:auto">

        <%= render 'layouts/characters/lifepath/aspects_display' %>

        <div class="ui divider" style="padding: 2px"></div>

        <%= render 'layouts/characters/lifepath/aspects_attr_disp' %>

      </div>

    </div>

  </div>
</div>
