<h1 class="ui divided centered header">Caste</h1>

<% castes = Lifepath::Caste.find_each %>

<div class="ui container fluid grid">
  <div class="ui four wide column">
    <div class="ui fluid vertical tabular pointing menu caste_menu" >
      <% castes.each do |caste| %>
        <a class="ui item <%= if caste.id == 1 then "active " end %>tab caste_tab" data-tab="<%=caste.id %>" ><%= caste.name %></a>
      <% end %>
    </div>
  </div>

  <div class="ui twelve wide column">

    <% castes.each do |caste| %>

    <div class="ui <%= if caste.id == 1 then "active " end %>tab fluid content caste_segment" data-tab="<%=caste.id %>" >

        <p>Name: <%= caste.name %></p>
        <p>Description: <%= caste.description %></p>
        <p>Skill: <%= caste.skill %></p>
        <p>Social Standing: <%= caste.social_standing %></p>

        <div class = "ui cards">

          <% Lifepath::CasteStory.where( caste_id: caste.id ).each do |castestory| %>
            <button class="ui card caste_card" >

              <div class = "ui content">

                <p>Name: <%= castestory.name %></p>
                <p>Trait: <%= castestory.trait %></p>

              </div>

            </button>
          <% end %>

        </div>
      </div>

    <% end %>

  </div>
</div>
