<h1 class="ui centered header">Caste</h1>

<div class="ui divider"></div>

<% castes = Lifepath::Caste.find_each %>

<div class="ui grid" id="caste_grid">
  <div class="ui stretched row">

    <!-- CASTE MENU -->

    <div class="ui four wide column">
      <div class="ui fluid vertical tabular pointing menu" id="caste_tabs">

        <% castes.each do |caste| %>
          <a  class="ui item <%= if caste.id == 1 then "active " end %>tab caste_tab"
              data-tab="caste::<%=caste.id %>" data-caste="<%= caste.name %>">
            <%= caste.name %>
          </a>
        <% end %>

      </div>
    </div>

    <!-- CASTE BODY -->

    <div class="ui twelve wide column" id="caste_seg">

      <% castes.each do |caste| %>
        <% castestories = Lifepath::CasteStory.where( caste_id: caste.id ) %>

        <div  class="ui <%= if caste.id == 1 then "active " end %>tab fluid content caste_segment"
              data-tab="caste::<%=caste.id %>" data-caste="<%= caste.name %>">

          <h2 class="ui centered header">
            <%= caste.name %>
            <div class="ui sub header"> <b>Skill :</b> <%= CharactersHelper.format_skill caste.skill %></div>
            <div class="ui sub header"> <b>Social Standing :</b> <%= caste.social_standing %></div>
          </h2>

          <div class="ui secondary segment">
            <p><%= caste.description %></p>
          </div>

          <div class="ui segment caste_story_seg" id="caste_story_seg">
            <h2 class="ui divided centered header">Select a caste story</h2>
            <div class="ui grid">
              <div class="column four wide">
                <div class="ui fluid vertical tabular pointing menu caste_story_tabs">

                  <% castestories.each do |castestory| %>
                    <a class="ui <%= if (castestory.id%6) == 1 then "active " end %>item tab caste_story_tab"
                      data-tab="castestory::<%= castestory.id %>" data-caste-story="<%= castestory.name %>">
                      <%= castestory.name %>
                    </a>
                  <% end %>

                </div>
              </div>

              <div class="column twelve wide">

                <% castestories.each do |castestory| %>
                  <div class="ui <%= if (castestory.id%6) == 1 then "active " end %>tab fluid content caste_story_description"
                       data-tab="castestory::<%= castestory.id %>" data-caste-story="<%= castestory.name %>">
                    <div class="ui secondary segment">
                      <p><%=castestory.description %></p>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>
