<h1 class="ui centered header">Select an education</h1>

<div class="ui divider"></div>

<% educations = Lifepath::Education.find_each %>

<div class="ui grid">
  <div class="ui stretched row">

    <!-- EDUCATION MENU -->

    <div class="ui three wide column">
      <div class="ui fluid vertical tabular pointing menu education_menu">

        <% educations.each do |education| %>
          <a  class="ui item <%= if education.id == 1 then "active " end %>tab education_tab"
              data-tab="education::<%= education.id %>" id="education::<%= education.id %>"
              data-edu-name="<%= education.name %>" onclick="select_edu( this )">
            <%= education.name %>
          </a>
        <% end %>

      </div>
    </div>

    <!-- EDUCATION BODY -->

    <div class="ui thirteen wide column">

      <% educations.each do |education| %>
        <div  class="ui <%= if education.id == 1 then "active " end %>tab fluid education_segment"
              data-tab="education::<%=education.id %>">
          <h2 class="ui centered header">
            <%= education.name %>
            <div class="ui sub header">
              <b><%= if education.equipment.empty? then 'No Equipment' else 'Equipment: 'end %></b>
              <%= if education.equipment.empty? then '' else education.equipment end %>

            </div>
          </h2>

          <div class="ui secondary segment">
            <p>
              <%= education.description %>
            </p>
          </div>

          <div class="ui divider"></div>

          <div class="ui divided grid">

            <!-- MANDATORY SKILLS -->

            <div class="ui five wide column education_mand_skills">

              <h3 class="ui centered header">
                Mandatory skills
                <div class="ui sub header">+1 expertise and focus to each listed skill</div>
              </h3>

              <div class="ui green cards">

                <% mand_skills = [ education.skill_mandatory1, education.skill_mandatory2, education.skill_mandatory3 ] %>

                <% for skill in mand_skills do %>

                <div  class="ui card <%= 'career_skill' if skill == 'career' %>"
                      data-skill-mandatory="<%= skill %>">
                  <div class="content">
                    <div class="ui centered header">
                      <%= CharactersHelper.format_skill skill %>
                    </div>
                  </div>
                </div>

                <% end %>

              </div>

            </div>

            <!-- OPTIONAL SKILLS -->

            <div class="ui five wide column education_ele_skills">
              <h3 class="ui centered header">
                Elective skills
                <div class="ui sub header">+1 expertise and focus to two selected skills</div>
              </h3>

              <div class="ui cards">

                <% ele_skills = [ education.skill_elective1, education.skill_elective2, education.skill_elective3 ] %>

                <% for skill in ele_skills do %>

                <a  class="ui red card <%= 'career_skill' if skill == 'career' %>"
                    data-skill-elective="<%= skill %>" onclick="select_edu_skill( this )">
                  <div class="content">
                    <div class="ui centered header">
                      <%= CharactersHelper.format_skill skill %>
                    </div>
                  </div>
                </a>

                <% end %>

              </div>
            </div>

            <div class="ui six wide column education_talents">
              <h3 class="ui centered header">
                Select a talent
              </h3>

              <% talents = education.get_talents %>
              <% select_tal = talents[education.skill_mandatory1].first %>

              <span><b>Selected talent:</b> <%= select_tal.name %></span>

              <div class="ui styled accordion">

                <% talents.each do |skill_cat, skill_talents| %>
                  <% if !skill_cat.empty? %>

                    <div class="<%= "active " if skill_cat == talents.keys.first %>title">
                      <i class="ui dropdown icon"></i>
                      <%= CharactersHelper.format_skill skill_cat %>
                    </div>

                    <div class="<%= "active " if skill_cat == talents.keys.first %>content">
                      <div class="ui two vertical buttons">

                        <% skill_talents.each do |talent| %>
                          <button class="ui button">
                            <%= talent.name %>
                          </button>
                        <% end %>

                      </div>
                    </div>

                  <% end %>
                <% end %>

              </div>
            </div>

          </div>
        </div>

      <% end %>

    </div>

  </div>
</div>
