<h1 class="ui centered header">Select an education</h1>

<div class="ui divider"></div>

<% educations = Lifepath::Education.find_each %>

<div class="ui grid">
  <div class="ui stretched row">

    <!-- EDUCATION MENU -->

    <div class="ui three wide column">
      <div class="ui fluid vertical tabular pointing menu education_menu">

        <% educations.each do |education| %>
          <a  class="ui item <%= if education.id == 1 then "active " end %>tab education_tab"
              data-tab="<%=education.id %>">
            <%= education.name %>
          </a>
        <% end %>

      </div>
    </div>

    <!-- EDUCATION BODY -->

    <div class="ui thirteen wide column">

      <% educations.each do |education| %>
        <div  class="ui <%= if education.id == 1 then "active " end %>tab fluid education_segment"
              data-tab="<%=education.id %>">
          <h2 class="ui centered header">
            <%= education.name %>
            <div class="ui sub header"><%= if education.equipment.empty? then 'No Equipment' else 'Equipment: ' + education.equipment end %></div>
          </h2>

          <div class="ui secondary segment">
            <p>
              <%= education.description %>
            </p>
          </div>

          <div class="ui divider"></div>

          <div class="ui divided grid">

            <!-- MANDATORY SKILLS -->

            <div class="ui five wide column education_mand_skills">

              <h3 class="ui centered header">
                Mandatory skills
                <div class="ui sub header">+1 expertise and focus to each listed skill</div>
              </h3>

              <div class="ui green cards">

                <div class="ui card" data-skill-mandatory=<%= education.skill_mandatory1 %>>
                  <div class="content">
                    <div class="ui centered header">
                      <%= CharactersHelper.format_skill education.skill_mandatory1 %>
                    </div>
                  </div>
                </div>

                <div class="ui card" data-skill-mandatory=<%= education.skill_mandatory2 %>>
                  <div class="content">
                    <div class="ui centered header">
                      <%= CharactersHelper.format_skill education.skill_mandatory2 %>
                    </div>
                  </div>
                </div>

                <div class="ui card" data-skill-mandatory=<%= education.skill_mandatory3 %>>
                  <div class="content">
                    <div class="ui centered header">
                      <%= CharactersHelper.format_skill education.skill_mandatory3 %>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!-- OPTIONAL SKILLS -->

            <div class="ui five wide column education_ele_skills">
              <h3 class="ui centered header">
                Elective skills
                <div class="ui sub header">+1 expertise and focus to two selected skills</div>
              </h3>

              <div class="ui cards">

                <a class="ui red card" data-skill-elective=<%= education.skill_elective1 %>>
                  <div class="content">
                    <div class="ui centered header">
                      <%= CharactersHelper.format_skill education.skill_elective1 %>
                    </div>
                  </div>
                </a>

                <a class="ui red card" data-skill-elective=<%= education.skill_elective2 %>>
                  <div class="content">
                    <div class="ui centered header">
                      <%= CharactersHelper.format_skill education.skill_elective2 %>
                    </div>
                  </div>
                </a>

                <a class="ui red card" data-skill-elective=<%= education.skill_elective3 %>>
                  <div class="content">
                    <div class="ui centered header">
                      <%= CharactersHelper.format_skill  education.skill_elective3 %>
                    </div>
                  </div>
                </a>

              </div>
            </div>

            <div class="ui six wide column education_talents">
              <h3 class="ui centered header">
                Select a talent
              </h3>

              <% talents = education.get_talents %>
              <% select_tal = talents[education.skill_mandatory1].first %>

              <span><b>Selected talent:</b> <%= select_tal.name %></span>

              <div class="ui styled accordion">

                <% talents.each do |skill_cat, skill_talents| %>
                  <% if !skill_cat.empty? %>

                    <div class="<%= "active " if skill_cat == talents.keys.first %>title">
                      <i class="ui dropdown icon"></i>
                      <%= CharactersHelper.format_skill skill_cat %>
                    </div>

                    <div class="<%= "active " if skill_cat == talents.keys.first %>content">
                      <div class="ui two vertical buttons">

                        <% skill_talents.each do |talent| %>
                          <button class="ui button">
                            <%= talent.name %>
                          </button>
                        <% end %>

                      </div>
                    </div>

                  <% end %>
                <% end %>

              </div>
            </div>

          </div>
        </div>

      <% end %>

    </div>

  </div>
</div>
