<h1 class="ui centered header">Select a homeland</h1>

<div class="ui divider"></div>

<div class="ui centered cards">
  <% Lifepath::Homeland.find_each do |homeland| %>

    <input id="radio_<%= homeland.name %>" name="homelands" type="radio"></input>

    <label  class="ui card hl_card" id="hl_card_<%= homeland.name %>"
            data-hl-name="<%= homeland.name %>" data-hl-talent="<%= homeland.talent.name %>"
            onclick="select_homeland( '<%= homeland.name %>', '<%= homeland.talent.name %>' )"
            for="home::<%= homeland.id %>">
      <div class ="ui top attached content">

          <div class ="ui header hl_card_header">
            <%= homeland.name %>
          </div>

      </div>

      <div class="ui bottom attached content fluid two horizontal segments hl_card_details">
        <div class="ui left attached basic segment hl_card_talent">
          <%= homeland.talent.name %>
        </div>

        <% langs = homeland.parse_languages %>

        <% if langs.count == 1 %>

          <div  class="ui right attached basic segment hl_card_lang"
                id="hl_card_lang_<%= homeland.name %>" data-hl-lang="<%= langs[0] %>">
            <%= langs[0] %>
          </div>

        <% else %>

          <select class="ui right attached basic segment dropdown hl_card_lang"
                  style="padding:inhert;height:inherit" id="hl_card_lang_<%= homeland.name %>"
                  onclick="event.stopPropagation()">
            <% langs.each do |lang|  %>

              <option value="<%= lang %>"
                      onclick="select_homeland( '<%= homeland.name %>', '<%= homeland.talent.name %>' )">
                <%= lang %>
              </option>

            <% end %>
          </select>

        <% end %>

      </div>
    </label>

  <% end %>

  <!-- SOME HIDDEN FORMS FOR HOMELAND NAME, TALENT, AND LANG -->
</div>
