<h1 class="ui divided centered header">Select a nature</h1>

<div class="ui divider"></div>

<% natures = Lifepath::Nature.find_each %>

<div class="ui grid">
  <div class="ui three wide column">
    <div class="ui fluid vertical tabular pointing menu nature_menu" >
      <% natures.each do |nature| %>
        <a class="ui item <%= if nature.id == 1 then "active " end %>tab nature_tab" data-tab="<%=nature.id %>" ><%= nature.name %></a>
      <% end %>
    </div>
  </div>

  <div class="ui thirteen wide column">
    <% natures.each do |nature| %>
      <div class="ui <%= if nature.id == 1 then "active " end %>tab fluid nature_segment" data-tab="<%=nature.id %>">
        <h2 class="ui centered dividing header">
          <%= nature.name %>
          <div class="ui sub header">+1 <%= nature.attr %></div>
        </h2>
        <div class="ui divided grid">
          <div class="ui five wide column nature_mand_skills">
            <h3 class="ui centered header">
              Mandatory skills
              <div class="ui sub header">+1 expertise and focus to each listed skill</div>
            </h3>

            <div class="ui cards">
              <div class="ui card">
                <div class="content">
                  <div class="ui centered header">
                    <%= CharactersHelper.format_skill nature.skill_mandatory1 %>
                  </div>
                </div>
              </div>
              <div class="ui card">
                <div class="content">
                  <div class="ui centered header">
                    <%= CharactersHelper.format_skill nature.skill_mandatory2 %>
                  </div>
                </div>
              </div>
              <div class="ui card">
                <div class="content">
                  <div class="ui centered header">
                    <%= CharactersHelper.format_skill nature.skill_mandatory3 %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui five wide column nature_ele_skills">
            <h3 class="ui centered header">
              Elective skills
              <div class="ui sub header">+1 expertise and focus to two selected skills</div>
            </h3>

            <div class="ui cards">
              <a class="ui card">
                <div class="content">
                  <div class="ui centered header">
                    <%= CharactersHelper.format_skill nature.skill_elective1 %>
                  </div>
                </div>
              </a>
              <a class="ui card">
                <div class="content">
                  <div class="ui centered header">
                    <%= CharactersHelper.format_skill nature.skill_elective2 %>
                  </div>
                </div>
              </a>
              <a class="ui card">
                <div class="content">
                  <div class="ui centered header">
                    <%= CharactersHelper.format_skill nature.skill_elective3 %>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="ui six wide column nature_talents">
            <h3 class="ui centered header">
              Select a talent
            </h3>

            <% talents = nature.get_talents %>
            <% select_tal = talents[nature.skill_mandatory1].first %>

            <span><b>Selected talent:</b> <%= select_tal.name %></span>

            <div class="ui styled accordion">
              <% talents.each do |skill_cat, skill_talents| %>
                <% if !skill_cat.empty? %>
                  <div class="<%= "active " if skill_cat == talents.keys.first %>title">
                    <i class="ui dropdown icon"></i>
                    <%= CharactersHelper.format_skill skill_cat %>
                  </div>
                  <div class="<%= "active " if skill_cat == talents.keys.first %>content">
                    <div class="ui two vertical buttons">
                      <% skill_talents.each do |talent| %>
                        <button class="ui button">
                          <%= talent.name %>
                        </button>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
