<h1>Whosoever approaches, present your papers and writ of passage!</h1>

<div class="ui container">
    <%= form_for( @user, url: login_path, html: { class: 'ui form' } ) do |f| %>

      <%= render 'shared/error_messages' %>

      <h4 class="ui dividing header">User Information</h4>

      <div class="two fields">
        <div class="required field <%= "error" if @user.errors[:email].any? %>">
          <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
        </div>
        <div class="required field <%= "error" if @user.errors[:password].any? %>">
          <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
        </div>
      </div>

      <%= f.submit "Login to account", class: "ui button" %>
    <% end %>
</div>
