<div id="Chargen">
    <div id="ChargenTitle" class="ui sticky">
        <div class="ui main menu">
            <%# <%= render "charTitle" %>

            <h2 class="header item">
                <span id="CharTitle">
                    <span id="CharTitleName">Conan</span> the
                    <span id="CharTitleNature">Barbarian</span>, of
                    <span id="CharTitleHomeland">Cimmeria</span>
                </span>
            </h2>
                <!-- {NAME} the <span id="charTitleNature"></span> <span id="charTitleArchetype"></span>, of <span id="charTitleHomeland"></span> | <preview button> -->
                <!-- {NAME} is an input box with a {M/F/O} switch or dropdown -->
                <!-- <preview button> opens the charPreivew sidebar (topbar?) -->
            <a class="right floated item">Preview Character</a>
        </div>
    </div>
    <div id="ChargenLifepath">
        <!-- <div id="ChargenPreview" class="ui top inline sidebar overlay"> -->
          <!-- INFO -->
            <%# <%= render "charPreivew" %>
            <!-- http://semantic-ui.com/modules/sidebar.html#/examples
                $('#charPreview')
                    .sidebar({
                        context: $('.context.example .bottom.segment')
                    })
                    .sidebar('attach events', '#chargen .sticky.menu .item')
                ;
            -->
            <!--
                Prefacing the preview sheet:
                "{NAME} the {NATURE} {ARCHETYPE}, of {HOMELAND}
                Born under the stars of {ASPECT1} and {ASPECT2}, and educated {EDUCATION}
                Once a {CASTE}, he/she {CASTE_STORY.ACTION}ed {CASTE_STORY}, becoming {TRAIT}"
            -->
        <!-- </div> -->
        <div id="ChargenAccordion" class="ui fluid accordion">
            <!-- each accordian title has a "dice" and "lock" icon for rerolling -->
            <!-- <talent selection> looks like the following:
                    <dropdown of available skills to choose from>
                    <vertical list of buttons of talent names>
                        <<already possessed talents are marked and disabled>>
                        <<talents with ranks have a [Y/X] label at the end>>
                        <<talents with unmet reqs are marked and disabled>>
                        <<talents have popups on hover with a talent description and prereqs>>
             -->
            <!-- accordian sections have a fade out effect, where the last selected
                section is 100% opacity, and the next one is at 50%, then 25% or 0% (undecided)
            -->
            <%= render "layouts/characters/lifepath/homeland" %> <!-- class="current" -->
                <!--
                           <homeland dropdown>
                    <talent> | <language (selection)>
                    _________________________________
                        <picture> | <description>
                 -->
            <%= render "layouts/characters/lifepath/aspects/aspects" %> <!-- class="next" -->
                <!--
                    <$lock><aspect1 dropdown> | <$lock><aspect2 dropdown>
                    <aspect1 mandatory attrs> | <aspect2 mandatory attrs>
                     <aspect1 elective attrs> | <aspect2 elective attrs>
                    _____________________________________________________
                                      <attribute grid>
                 -->
            <%# <%= render "layouts/characters/lifepath/castes" %> <!-- class="after_next" -->
              <!--
                      <caste dropdown>
                  ________________________
                  <picture> | <caste info>
               -->
            <%# <%= render "caste_story" %> <!-- class="hidden" -->
                <!--
                         <story dropdown>
                    <span><story trait></span>
                    __________________________
                     <picture> | <story info>
                 -->
            <%# <%= render "archetype" %>
                <!--
                               <$lock><archetype dropdown>
                    <span><Career skill></span> | <span><Talent></span>
                        <span><mandatory skills (cards?)></span>
                      <$lock><span><elective skills (cards?)></span>
                    _________________________________________________
                    <picture> | <description> | <equipment selection>
                 -->
            <%# <%= render "nature" %>
                <!--
                               <$lock><nature dropdown>
                             <span><attribute bonus</span>
                       <span><mandatory skills (cards?)></span>
                    <$lock><span><elective skills (cards?)></span>
                    ______________________________________________
                    <picture> | <description> | <talent selection>
                 -->
            <%# <%= render "education" %>
                <!--
                              <$lock><education dropdown>
                                <span>equipment</span>
                        <span><mandatory skills (cards?)></span>
                    <$lock><span><elective skills (cards?)></span>
                    ______________________________________________
                    <picture> | <description> | <talent selection>
                 -->
            <%# <%= render "war_story" %>
                <!--
                      <war_story dropdown>
                        <skill bonuses>
                    _________________________
                    <picture> | <description>
                 -->
            <%# <%= render "finishing_touches" %>
                <!--
                    <$lock><attribute bar>
                    <$lock><skill grid with bonus pips and legendary selection>
                    <$lock><talent selection>
                 -->
            <%# <%= render "fortune_spend" %>
                <!--
                                  <fortune point spend switch>
                    ___________________________________________________________
                    <attr column> | <skill bonus dropdown> | <talent selection>
                 -->
            <%# <%= render "sorcery" %>
                <!--
                    who the fuck knows
                 -->
            <%# <%= render "personal" %>
                <!--
                        <belongings table> | <garments table>
                            <weapon table> | <provenance table>
                    ___________________________________________________
                     <personality box> | <age input> | <appearance box>
                 -->
        </div>
    </div>
</div>
