<div class="ui menu" id="header-menu">
  <div class="ui container" id="main-menu-items">
    <%= link_to 'HOME', root_path, class: 'ui item' %>
    <%= link_to 'CHARACTERS', chars_path, class: 'ui item' %>
    <%= link_to 'ABOUT', about_path, class: 'ui item' %>

    <%=
       link_to_if( @current_user.nil?, 'LOGIN', { controller: "users", action: "login" }, { class: 'ui item' } ) do
         link_to( @current_user.login, { controller: "users", action: "account" }, { class: 'ui item' } )
       end
    %>

    <%= link_to 'ACCOUNT', account_path, class: 'ui item' %>
  </div>
</div>
