<!DOCTYPE html>
<html>

  <head>
    <title>TITLE</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% include_gon %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div id="main-container" class="ui container">

      <% flash.each do |message_type, message| %>
        <div class="ui <%= message_type %> message">
          <i class="close icon"></i>
          <%= message %>
        </div>
      <% end %>

      <%= yield %>

    </div>

    <%= render 'layouts/footer' %>

    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
